* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;700;800&display=swap");

/* varable create  */
:root {
  --primary-title-color: #3a3a3a;
  --primary-font: "Poppins", sans-serif;
  --primary-info-color: #787885;
}

/* header section  */

/* nav bar part  */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 150px;
}
.nav-menu ul a {
  text-decoration: none;
  /* margin-right: 10px; */
  color: var(--primary-title-color);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.nav-title {
  color: var(--primary-title-color);
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

/* banner section  */
.banner-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.banner-img {
  background-image: url("../images/Circle\ design.svg");
  /* background-color: aquamarine; */
  width: 450px;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.banner-title {
  font-size: 3rem;
  font-family: var(--primary-font);
  color: var(--primary-title-color);
  font-weight: 700;
  margin-bottom: 15px;
}
.banner-info {
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--primary-title-color);
}
.btn-1 {
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 25px;
  border: none;
  margin-top: 15px;
  color: white;
  font-weight: 700;
  font-family: var(--primary-font);
}
.hide {
  display: none;
}

/* logo section  */
.logo-container {
  width: 90%;
  height: 100px;
  /* background-color: bisque; */
  border-top: 1px solid rgba(0, 0, 0, 0.132);
  border-bottom: 1px solid rgba(0, 0, 0, 0.132);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
}

/* popular section  */
.collection-title {
  font-family: var(--primary-font);
  font-weight: 800;
  color: var(--primary-title-color);
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 30px;
}
.collection-container {
  width: 87vw;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  gap: 22px;
}
.box {
  width: 350px;
  height: 390px;
  margin-bottom: 5px;
  /* background-color: bisque; */
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}
.box img {
  width: 92%;
  height: 65%;
  margin: 5px;
  margin-bottom: 10px;
}
.name {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--primary-title-color);
  padding-left: 5px;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 5px;
  margin: 10px 0px;
}
.p-info{
  padding-left: 5px;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: var(--primary-font);
  color: var(--primary-info-color);
}
.btn-2{
  background-color: white;
  border: none;
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  font-family: var(--primary-font);
  
}
.button{
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

/* feature section  */
.feature-container{
  width: 90vw;
  height: 270px;
  /* background-color: bisque; */
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.feature-title{
  color: var(--primary-title-color);
  font-weight: 800;
  font-size: 2.2rem;
  font-family: var(--primary-font);
  margin-bottom: 10px;
}
.feature-info{
  color: var(--primary-info-color);
  font-family: var(--primary-font);
  font-weight: 700;
  margin-bottom: 10px;
}
.btn-3{
  background: #E02C6D;
  color: white;
  border: none;
  padding: 10px 25px;
}

/* footer section  */
.footer{
  width: 100vw;
  height: 250px;
  background-color: #0A0826;
  text-align: center;
  margin-top: 50px;
}
.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: white;
}
.footer-content{
  padding-top: 60px;
}
.footer-title{
  color: white;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 800;
}
.footer-info{
  color: var(--text-gray-300, #D9DBE1);
font-family: var(--primary-font);
font-weight: 700;
font-size: 0.9rem;
/* margin: 15px 0px; */
padding: 10px 0px;

}
.last{
  color: #D9DBE1;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 10px;
}


/* responsive section  */
@media screen and (max-width: 576px) {
  /* navbar sectionj  */
  .nav-container {
    flex-direction: column;
    gap: 20px;
    width: auto;
  }
  .nav-menu ul {
    flex-direction: column;
    gap: 15px;
  }

  /* banner section  */
  .banner-container {
    flex-direction: column;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .banner-content {
    padding-left: 10px;
    text-align: center;
  }
  .banner-img {
    width: 70%;
    height: auto;
  }
  .camera {
    width: 100%;
  }

  /* logos section  */
  .logo-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    border: none;
    padding: 0px auto;
    gap: 10px;
  }
  .logo img {
    width: 20vw;
  }
  .logo {
    /* align-items: center; */
    margin: 10px auto;
  }
 /* popular collection section  */
 .collection-container{
  display: flex;
  flex-direction: column;
  margin: 0px;
 }
 .box{
  width: 95%;
  /* text-align: center; */
  /* margin: 0px auto; */
  margin-left: 25px;
 }
 .button{
  margin-top: 20px;
  margin-right: 20px;
 }

 /* feature section  */
 .feature-container{
  flex-direction: column;
  flex-direction: column-reverse;
  height: auto;
  margin: 0px;
 }
 .image-f{
  width: 100%;
  margin-left: 20px;
 }
 .feature-content{
  text-align: center;
 }


}
